<% include partials/header %>
<div class="container">
    <div id="landing-header">
        
 		<h1>Welcome to FitMentor!</h1>
 		<h2 class="tagline">The easiest way to reach your fitness goals from anywhere in the world</h2>
 		<a href="/listings" class="btn btn-primary btn-send narrow">Find an Online Trainer</a>
		
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
</div>

<% include partials/footer %>